.imagen {
    height: 50%;
    width: 50%;
}

.contenedorItem {
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    border: black;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 20vw;
}

