.contenedorBotones {
    margin: 10%;

}

.textoCounter {
    margin-left: 5%;
    text-align: center;
    display: inline;
}

.botonCounter {
    display: inline;
    margin-left: 5%;
    background-color: rgb(10, 5, 73);
    color: white;
    border-radius: 28px;
}

.botonCounter:hover {
    background-color: white;
    color: rgb(10, 5, 73);
}