.App {
  width: 100vw;
  color: black;
}

.App-header {
  position: fixed;
  top: 0%;
}

.body {
  margin-top: 10%;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/


/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
